@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss";

body {
	font-family: Roboto, sans-serif;
}



/* Estilos personalizados para os componentes Swiper */

.swiper-pagination-bullet {
	background-color: #e60000;
}

/* Oculta as setas de navegação em dispositivos móveis */
@media (max-width: 1023px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}

/* Em desktop, mostra as setas apenas no hover */
@media (min-width: 1024px) {
	.mySwiper {
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}

	.mySwiper:hover {
		.swiper-button-next,
		.swiper-button-prev {
			display: block;

			color: #e60000;

			transition: all 0.3s ease-in-out;
		}
	}
}
