@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss";

html {
	position: relative;
}

body {
	font-family: Roboto, sans-serif;
	position: relative;
}

#root {
	position: relative;
}

/* Estilos personalizados para os componentes Swiper */

.swiper-pagination-bullet {
	background-color: #e60000;
}

/* Oculta as setas de navegação em dispositivos móveis */
@media (max-width: 1023px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}

/* Em desktop, mostra as setas apenas no hover */
@media (min-width: 1024px) {
	.mySwiper {
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}

	.mySwiper:hover {
		.swiper-button-next,
		.swiper-button-prev {
			display: block;

			color: #e60000;

			transition: all 0.3s ease-in-out;
		}
	}
}

span {
	position: relative;
}

span::before,
span::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #e60000;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

span::before {
	top: 0;
	transform-origin: center right;
}

span:hover::before {
	transform-origin: center left;
	transform: scaleX(1);
}

span::after {
	bottom: 0;
	transform-origin: center left;
}

span:hover::after {
	transform-origin: center right;
	transform: scaleX(1);
}